* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images7.alphacoders.com/536/thumb-1920-536426.png);
  background-size: cover;
  width: 100vw;
  max-height: 100vh;
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  color: #f9fafb;
}

main {
  margin-top: 3.2rem;
}

.lol-logo {
  width: 50rem;
  height: 20rem;
}

h1 {
  font-size: 3.2rem;
}

.level-container {
  height: 30rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

a,
a:link,
a:visited {
  font-size: 2.4rem;
  border: 5px solid #0a3e52;
  background-image: linear-gradient(
    45deg,
    #164e63,
    #0e7490,
    #0891b2,
    #155e75,
    #164e63
  );

  background-size: 400% 400%;
  padding: 1.6rem 3.2rem;
  animation: backgroundAnimation 15s ease-in-out infinite;
  text-decoration: none;
  color: #f9fafb;
  display: inline-block;
}

a:hover,
a:active {
  background-image: linear-gradient(45deg, #164e63, #0e7490, #155e75, #164e63);
}

footer {
  position: absolute;
  bottom: 2px;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 20%;
  }

  50% {
    background-position: 80% 10%;
  }

  100% {
    background-position: 0% 20%;
  }
}
